.summary-layout {
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 20px;

  border-radius: 6px;
  border: 2px solid #ffbe0b;

  background: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.283);
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
}

.header img {
  width: 25px;
  height: 25px;
}

.header h3 {
  font-size: 22px;
  font-weight: 600;
}


.summary-layout p {
  font-size: 14px;
  color: #666;
}

.summary-layout .points-container {
  border-top: 1px solid #66666634;
  padding-top: 15px;

  border-bottom: 1px solid #66666634;
  padding-bottom: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 15px 0;
}

.summary-layout .points-card {
  display: flex;
  flex-direction: column;
}

.summary-layout .points-card p {
  font-size: 14px;
  color: #666;
}

.summary-layout .points-container img {
  width: 70px;
  height: 70px;

  background: #66666634;

  border-radius: 50%;

  padding: 10px;
}

.summary-layout .points-amount {
  color: #15803d;
  font-size: 36px;
  font-weight: 700;
  display: block;
}

.summary-layout a {
  display: flex;
  align-items: center;
  gap: 10px;

  width: fit-content;
  margin: 10px auto 0;

  text-decoration: none;
  font-size: 14px;
  color: #111;
  font-weight: 500;

  border-radius: 4px;
  border: 1px solid #ffbe0b;

  padding: 12px;
  transition: .6s;
}

.summary-layout a:hover {
  background: #111;
  color: #fff;
}

.summary-layout a img {
  width: 20px;
  height: 20px;
}

.summary-layout .monthly-progress {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid #66666634;
  padding-bottom: 15px;
}

.summary-layout .monthly-progress p {
  font-size: 12px;
  color: #666;
  margin-top: 6px;
}

.summary-layout .monthly-progress h6 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.summary-layout .monthly-progress .progress-bar {
  width: 100%;
  height: 8px;
  background: #66666634;
  border-radius: 4px;
}

.summary-layout .monthly-progress .progress {
  width: 50%;
  height: 100%;
  background: #15803d;
  border-radius: 4px;
}

.summary-layout .history {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.summary-layout .history h6 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
  margin-top: 20px;
}

.summary-layout .history-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.summary-layout .history-card img {
  width: 20px;
  height: 20px;
}

.summary-layout .history-card p {
  font-size: 14px;
  color: #666;
}