.signup-outer-container {
    height: 100%;
    min-height: calc(100dvh - 70px);
    padding: 20px;
}

@media (max-width: 576px) {
    .signup-outer-container {
        padding: 10px;
    }
}

.signup-container {
    background-color: #fafafa;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    overflow: hidden;

    width: 100%;
    max-width: 28rem;

    padding: 1rem;
    margin: 0 auto;
}

.signup-container img {
    width: 60px;
    display: block;
    margin: 0 auto;
    mix-blend-mode: multiply;
}

.signup-container > h1 {
    font-size: 1.875rem;
    font-weight: 700;
    color: #15803d;
    text-align: center;
    margin: 15px auto 5px;
}

.signup-container > p {
    font-size: 14px;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
    margin: 0 auto 30px;
}

/* Form styling */

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

@media (max-width: 576px) {
    .signup-form {
        gap: 25px;
    }
}

.signup-form .form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
}

.signup-form .form-group .form-row {
    width: 100%;
}

@media (max-width: 576px) {
    .signup-form .form-group {
        flex-direction: column;
    }
}

.signup-form .form-row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.signup-form label,
.signup-form .form-row label {
    font-size: 14px;
    font-weight: 500;
    color: #15803d;
}

.signup-form input {
    width: 100%;
    background-color: #fafafa;
    border: 2px solid rgba(76, 175, 80, 0.2);
    border-radius: 5px;
    padding: 8px;
    font-family: 'Inter', sans-serif;
}

.signup-form select {
    width: 100%;
    background-color: #fafafa;
    border: 2px solid rgba(76, 175, 80, 0.2);
    border-radius: 5px;
    padding: 8px;
    font-family: 'Inter', sans-serif;
}

.signup-form input:focus {
    border-color: #15803d;
    box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.1);
    outline: none;
}

.signup-form button {
    background-color: #15803d;
    color: #fafafa;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    padding: 14px;

    border: 1px solid rgba(76, 175, 80, 0.2);
}

.signup-form button:hover {
    background: #39843b;
}

.signup-form button:disabled {
    opacity: .5;
}

/* Login link */
.login-prompt {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.875rem;
    color: rgba(17, 17, 17, 0.7);
}

.login-link {
    font-weight: 500;
    color: #15803d;
    text-decoration: none;
    margin-left: 4px;
}

.login-link:hover {
    text-decoration: underline;
}

.signup-container .error-msg {
    color: #c1121f;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}