.post-details-container {
    padding: 20px;
    flex: 1;

    display: flex;
    flex-direction: column;
}

.post-details-container .changes-message {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #a00101;
    border-radius: 4px;
    margin-bottom: 20px;
}

.post-details-container .back-to-all-posts-link {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.post-details-container .back-to-all-posts-link a {
    text-decoration: none;
    color: #111;
    font-size: 14px;
    font-weight: 600;
    transition: 0.6s ease;
}

.post-details-container .back-to-all-posts-link a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.post-details-container .back-to-all-posts-link img {
    width: 20px;
    height: 20px;
}

.post-details-container .post-details {
    background-color: #fffcdc;
    border-radius: 6px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    overflow: hidden;

    width: 100%;
    padding: 20px;
}

.post-details .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.post-details .header h1 {
    font-size: 21px;
    font-weight: 600;
}

.post-details .header p {
    font-size: 14px;
    color: #2b2b2b;
}

.post-details .content {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-details .content .description {
    font-size: 14px;
    color: #111;
}

.post-details .location {
    display: flex;
    align-items: center;
    gap: 4px;
    
}

.post-details .location img {
    width: 16px;
    height: 16px;
}

.post-details .location-text {
    font-size: 14px;
    color: #2b2b2b;
}

.post-details .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-details .quantities {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-details .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.post-details .icon img {
    width: 24px;
    height: 24px;
}

.post-details .icon p {
    font-size: 12px;
    color: #2b2b2b;
}

.post-details .icon p.quantity {
    font-size: 16px;
    font-weight: 800;
    color: #4caf50;
}

.post-details .actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.post-details .actions .edit-button,
.post-details .actions .delete-button {
    text-decoration: none;
    color: #fafafa;
    font-size: 14px;
    font-weight: 600;

    border: none;
    border-radius: 4px;

    padding: 10px;
    max-width: 300px;
    width: 100%;
    text-align: center;

    transition: 0.6s ease;
}

.post-details .actions .edit-button {
    background-color: #4caf50;
}

.post-details .actions .edit-button:hover {
    background-color: #267529;
}

.post-details .actions .delete-button {
    background-color: #f44336;
}

.post-details .actions .delete-button:hover {
    background-color: #d32f2f;
}

.post-details .actions .delete-button:hover {
    background-color: #a91c1c;
}
