.how-it-works {
    max-width: 1100px;
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.how-it-works h1 {
    color: #111;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

.how-it-works p {
    margin-top: 10px;
    line-height: 1.5;
}

.how-it-works .step {
    margin: 20px 0;
    padding: 20px;
    background: #e8f5e9;
    border-radius: 5px;
    text-align: left;
}
.how-it-works .step h2 {
    color: #218838;
}