.profile-layout {
    display: flex;
    background: linear-gradient(to bottom right, #166534, #052e16);
    height: 100%;
    min-height: calc(100dvh - 70px);
}

@media(max-width: 991px) {
    .profile-layout {
        flex-direction: column;
    }
}